@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
.toc {
  @apply mt-3 rounded border border-violet-950;
}
.toc ol {
  @apply list-none pl-8;
  counter-reset: toc;
}
.toc ol li {
  counter-increment: toc;
}
.toc ol li:before {
  content: counters(toc, '.') ' ';
}

a:has(.heading-anchor) {
  @apply ml-[-1em];
}
.heading-anchor {
  @apply invisible ml-[0.3rem] text-base text-violet-600 hover:text-violet-950;
}
h2:hover .heading-anchor {
  @apply visible;
}
h3:hover .heading-anchor {
  @apply visible;
}

.rlc-container {
  @apply relative block min-h-36 rounded border border-violet-950 p-3 no-underline shadow-md transition-shadow hover:shadow-none;
}
.rlc-info {
  @apply w-3/4;
}
.rlc-title {
  @apply text-lg font-bold;
}
.rlc-description {
  @apply truncate text-sm text-violet-800;
}
.rlc-favicon {
  @apply my-0 mr-2 inline;
}
.rlc-image-container {
  @apply absolute right-0 top-0 w-1/4;
}
.rlc-image {
  @apply mx-auto max-h-20;
}

html:has(#themeToggle.dark) {
  .toc {
    @apply border-violet-100;
  }
  .heading-anchor {
    @apply text-violet-300 hover:text-violet-100;
  }
  .rlc-container {
    @apply border-violet-100;
  }
  .rlc-description {
    @apply text-violet-300;
  }
}
