---
import ContentBox from './ContentBox.astro';
import Icon from '../assets/icon.png';
import { Image } from 'astro:assets';
---

<ContentBox heading="Bio">
  <div>
    <Image
      src={Icon}
      width={256}
      height={256}
      alt="色星ぴくせるのアイコン"
      class="float-left mr-2 block h-20 w-20 rounded-full"
    />
    <p>
      趣味でたまにプログラミングをしています。<br />
      最近はイラストと3DCGの練習中<br />
      Web開発のフロントエンドが少し触れるくらいです。
    </p>
  </div>
</ContentBox>
