---
interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<div class="my-2 rounded border border-violet-950 p-3">
  <h3 class="text-xl">{heading}</h3>
  <slot />
</div>
<style>
  html:has(#themeToggle.dark) .border-violet-950 {
    @apply border-violet-50;
  }
</style>
