<footer class="mx-auto my-3 w-fit text-center">
  <a href="/contact/">お問い合わせ</a> | <a href="/posts/terms/">利用規約</a> | <a
    href="https://github.com/irohosi-pixel/ihpx.net"
    target="_blank"
    rel="noopener noreferrer">ソースコード</a
  ><br />
  <small>&copy; 2024-2025 色星ぴくせる</small>
</footer>
