---
import MenuBtn from './MenuBtn.astro';
import Navigation from './Navigation.astro';
---

<header
  transition:persist
  class="box-border fixed px-4 py-2 sm:flex sm:content-between bg-white bg-opacity-50 top-2 left-2 right-2 rounded backdrop-blur-sm z-10"
>
  <div class="flex flex-row content-between">
    <h1 class="text-2xl"><a href="/">色星ぴくせる Official Website</a></h1><MenuBtn />
  </div><Navigation />
</header>
<script is:inline>
  document.querySelector('.menu').addEventListener('click', () => {
    document.querySelector('header').classList.toggle('menu-expanded');
  });
</script>
