<div class="menu w-6 h-6 sm:hidden ml-auto mr-0 relative">
  <svg class="open" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
      ><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M2 7a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1zm1 4a1 1 0 1 0 0 2h18a1 1 0 1 0 0-2H3z"
      ></path></g
    ></svg
  >
  <svg
    class="close"
    viewBox="0 0 24 24"
    id="up-2"
    data-name="Flat Color"
    xmlns="http://www.w3.org/2000/svg"
    class="icon flat-color"
    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
      ><path
        id="primary"
        d="M21,19a1,1,0,0,1-.8-.4L12,7.67,3.8,18.6a1,1,0,1,1-1.6-1.2l9-12a1,1,0,0,1,1.6,0l9,12a1,1,0,0,1-.2,1.4A1,1,0,0,1,21,19Z"
      ></path></g
    ></svg
  >
</div>
<style>
  .open {
    @apply w-6 opacity-100 transition-opacity absolute;
  }
  .close {
    @apply w-6 opacity-0 transition-opacity absolute;
  }
  :global(.menu-expanded) {
    .open {
      @apply opacity-0;
    }
    .close {
      @apply opacity-100;
    }
  }
</style>
