---

---

<nav
  class="overflow-hidden transition-[max-height,margin] duration-300 group-aria-expanded:mx-1 group-aria-expanded:my-4 group-aria-expanded:max-h-96 max-sm:max-h-0 sm:ml-auto sm:mr-0"
>
  <ul class="flex flex-col gap-4 sm:mr-10 sm:flex-row">
    <li><a href="/blog/p1/" class="block">Blog</a></li>
    <li><a href="/tag/" class="block">Tag</a></li>
    <li><a href="/category/" class="block">Category</a></li>
    <li><a href="/author/" class="block">Author</a></li>
  </ul>
</nav>
