---
import Layout from '../../layouts/Layout.astro';
import { allTags } from '../../site.config';

const title: string = 'タグ一覧';
const meta: Meta = {
  title,
  description: '色星ぴくせるのブログのタグ一覧です。',
  breadcrumb: [{ href: Astro.url.pathname, title }],
};
---

<Layout meta={meta}>
  <ul class="flex flex-wrap gap-3">
    {
      allTags.map((tag) => (
        <a href={`/tag/${tag.id}/p1/`}>
          <li class="linkItem px-2 py-1 bg-violet-300 rounded-lg shadow-md hover:shadow-none transition-shadow">
            {tag.name}
          </li>
        </a>
      ))
    }
  </ul>
</Layout>
